.container {
   width: 100%;
   height: 100%;
}

.container_items {
   width: 70%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}

.container_items_1 {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container_items_1_image {
   width: 100%;
   height: 100%;
}

.container_items_2 {
   width: 100%;
   margin-top: 10px;
}

.container_items_2 span {
   text-transform: uppercase;
   color: #1eb2a6;
   font-family: 'metropolis';
   font-weight: 600;
}

.container_items_2 h1 {
   width: 90%;
   font-family: 'metropolis';
   margin-top: 20px;
   margin-bottom: 20px;
}

.container_items_2_box {
   background-color: #ffff;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
   margin-bottom: 5%; opacity: 0; /* Start with opacity 0 */
   animation-name: fadeIn;
   animation-duration: 5s; /* Adjust animation duration as needed */
   animation-fill-mode: forwards;
}
.logo_container{
   margin-right: 15px;
}
.logo{
   font-size: 60px;
   color: #1eb2a6;
}

.container_items_2_box_details h1{
   font-size: 20px;
   font-family: 'metropolis';
}


@keyframes fadeIn {
   0% {
     opacity: 0;
     transform: translateY(30px); 
   }
   100% {
     opacity: 1; /* Fully visible */
     transform: translateY(0);
   }
 }
 
 .container_items_2_box:nth-child(1) {
   animation-delay: 0.2s; /* Delay for the first box */
 }
 
 .container_items_2_box:nth-child(2) {
   animation-delay: 0.4s; /* Delay for the second box */
 }
 
 .container_items_2_box:nth-child(3) {
   animation-delay: 0.6s; /* Delay for the third box */
 }