.support_container {
  position: fixed;
  top: 90%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon {
  font-size: 50px;
  color: #000;
  border: 2px solid #1eb2a6;
  margin-right: 10px;
  border-radius: 50%;
  padding: 3px;
  background-color: #fff;
}

.container {
  position: fixed;
  top: 75%;
  right: 2.5%;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 3px solid #1eb2a6;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
}

.container_close .icon {
  font-size: 30px;
}

.container_header h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 100;
  font-family: Helvetica, ;
}

.container_header button {
  width: 70%;
  padding: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width:700px) {
  .support_container {
    top: 94%;
  }

  .container {
    top: 76%;
    right: 8%;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .container_header h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
}






/* Laptops 1024 x 600*/
@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px) {
  .support_container {
    top: 91%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 70%;
    right: 6.5%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }

}



/* Laptops 1024 x 768*/
@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 768px) {
  .support_container {
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 78.5%;
    right: 6.5%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/* Laptops 1280 x 800*/
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
 
  .support_container {
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 81%;
    right: 5.5%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}

/* Laptops 1366 x 768*/
@media (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
  .support_container {
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 79%;
    right: 4.5%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}

/* Laptops 1440 x 900*/
@media (min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height: 900px) {
  .support_container {
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 83%;
    right: 4.7%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}

/* Laptops 1680 x 1050*/
@media (min-width: 1680px) and (max-width: 1680px) and (min-height: 1050px) and (max-height: 1050px) {
  .support_container {
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 85%;
    right: 4.5%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}

/* Laptops 1920 x 1080*/
@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  .support_container {
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 86%;
    right: 4.5%;
    z-index: 1000;
    width: 30%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}

/* Laptops 1920 x 1200*/
@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1200px) and (max-height: 1200px) {
  .support_container {
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 87%;
    right: 4.5%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}

/* Laptops 2560 x 1440*/
@media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
  .support_container {
    top: 93%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 87%;
    right: 3.5%;
    z-index: 1000;
    width: 25%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}

/* Laptops 3840 x 2160*/
@media (min-width: 3840px) and (max-width: 3840px) and (min-height: 2160px) and (max-height: 2160px) {
  .support_container {
    top: 96%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 93%;
    right: 3%;
    z-index: 1000;
    width: 20%;
  }


  .container_header h1 {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}




/*Tablets 1024 x 1366 or breakpoint 1024px*/
@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
  .support_container {
    top: 83%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 75%;
    right: 6.5%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}







/*Tablets 991 x 1280*/
@media (min-width: 991px) and (max-width: 991px) and (min-height: 1280px) and (max-height: 1280px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 87%;
    right: 6.5%;
    z-index: 1000;
    width: 35%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Tablets 768 x 1024*/
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 83%;
    right: 6.5%;
    z-index: 1000;
    width: 40%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Tablets 600 x 1024*/
@media (min-width: 600px) and (max-width: 600px) and (min-height: 1024px) and (max-height: 1024px) {

  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 83%;
    right: 6.5%;
    z-index: 1000;
    width: 50%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Tablets 800 x 1280*/
@media (min-width: 800px) and (max-width: 800px) and (min-height: 1280px) and (max-height: 1280px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 86%;
    right: 6.5%;
    z-index: 1000;
    width: 50%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}




/*Tablets 600 x 960*/
@media (min-width: 600px) and (max-width: 600px) and (min-height: 960px) and (max-height: 960px) {

  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 83%;
    right: 6.5%;
    z-index: 1000;
    width: 70%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Tablets 604 x 966*/
@media (min-width: 604px) and (max-width: 604px) and (min-height: 966px) and (max-height: 966px) {

  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 83%;
    right: 6.5%;
    z-index: 1000;
    width: 70%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}


/*Tablets 480 x 800*/
@media (min-width: 480px) and (max-width: 480px) and (min-height: 800px) and (max-height: 800px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 80%;
    right: 6.5%;
    z-index: 1000;
    width: 60%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Tablets 1024 x 1440*/
@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 1440px) and (max-height: 1440px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 88%;
    right: 6.5%;
    z-index: 1000;
    width: 50%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}




/*Tablets 720 x 1280*/
@media (min-width: 720px) and (max-width: 720px) and (min-height: 1280px) and (max-height: 1280px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 86.5%;
    right: 6.5%;
    z-index: 1000;
    width: 50%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Mobile 991 x 568*/
@media (min-width: 991px) and (max-width: 991px) and (min-height: 568px) and (max-height: 568px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 80%;
    right: 6.5%;
    z-index: 1000;
    width: 40%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Mobile 768 x 360*/
@media (min-width: 768px) and (max-width: 768px) and (min-height: 360px) and (max-height: 360px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 65%;
    right: 6.5%;
    z-index: 1000;
    width: 50%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Mobile 480 x 896*/
@media (min-width: 480px) and (max-width: 480px) and (min-height: 896px) and (max-height: 896px) {
 
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 83%;
    right: 6.5%;
    z-index: 1000;
    width: 70%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}


/*Mobile 320 x 533*/
@media (min-width: 320px) and (max-width: 320px) and (min-height: 533px) and (max-height: 533px) {

  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 72%;
    right: 6.5%;
    z-index: 1000;
    width: 90%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Mobile 414 x 896*/
@media (min-width: 414px) and (max-width: 414px) and (min-height: 896px) and (max-height: 896px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 81%;
    right: 6.5%;
    z-index: 1000;
    width: 80%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Mobile 320 x 568*/
@media (min-width: 320px) and (max-width: 320px) and (min-height: 568px) and (max-height: 568px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 73%;
    right: 6.5%;
    z-index: 1000;
    width: 90%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Mobile 411 x 731*/
@media (min-width: 411px) and (max-width: 411px) and (min-height: 731px) and (max-height: 731px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 78%;
    right: 6.5%;
    z-index: 1000;
    width: 80%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}


/*Mobile 480 x 853*/
@media (min-width: 480px) and (max-width: 480px) and (min-height: 853px) and (max-height: 853px) {
 
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 83%;
    right: 6.5%;
    z-index: 1000;
    width: 80%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}



/*Mobile 600 x 960*/
@media (min-width: 600px) and (max-width: 600px) and (min-height: 960px) and (max-height: 960px) {
  .support_container {
    top: 95%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .icon {
    font-size: 45px;
  }

  .container {
    position: fixed;
    top: 83%;
    right: 6.5%;
    z-index: 1000;
    width: 70%;
  }


  .container_header h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .container_header button {
    width: 60%;
    padding: 10px;
    color: #000;
    margin: 0 auto;
  }
}