.container {
   width: 100%;
   height: 100%;
}

.container_header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1%;
   margin-bottom: 2%;
}

.container_header h1 {
   font-size: 25x;
   font-family: 'metropolis';
   text-align: center;
}

.container_nav {
   position: sticky;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   margin: 0 auto;
   overflow-x: scroll;
   scrollbar-width: thin;
   background-color: #1eb2a6;
   padding: 20px;
   z-index: 900;
}

.container_nav h1 {
   margin-right: 40px;
   font-size: 15px;
   font-family: 'metropolis';
   text-transform: uppercase;
   color: #f2f2f2f2;
   cursor: pointer;
}

.container_nav h1:hover {
   color: red;
   transform: scaleX(1.1);
}

.container_content_container {
   width: 80%;
   margin: 2% auto;
}

.container_content_title {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.container_content_title h1 {
   font-size: 15px;
   font-family: 'metropolis';
   text-transform: uppercase;
}

.container_content_body_video {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2%;
}

.container_content_body_video iframe {
   width: 65%;
   border-radius: 10px;
   box-shadow: 0px 0px 10px #1eb2a6;
}

.container_content_body {
   width: 70%;
   margin: 3% auto;
}

.container_content_body p{
   margin-bottom: 10px;
}

.circle_container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 9999;
 }
 
 .circle {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 3px solid #fff;
   border-top-color: transparent;
   animation: spin 1s linear infinite;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
 
 .circle_container span {
   margin-left: 10px;
   font-size: 20px;
   color: #BE71F4;
   font-family: 'metropolis';
 }

@media (max-width: 700px) {
   .container_header {
      margin-top: 4%;
      margin-bottom: 5%;
   }
   .container_header h1 {
      font-size: 17px;
   }

   .container_nav {
      width: 98%;
      padding: 20px;
      justify-content: flex-start;
      align-items: flex-end;
   }

   .container_nav h1 {
      font-size: 12px;
      margin-right: 20px;
      text-align: center;
   }

   .container_content_title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
   }

   .container_content_body {
      width: 90%;
   }

   .container_content_container {
      width: 95%;
      margin: 2% auto;
   }

   .container_content_body_video iframe {
      width: 100%;
      height: 350px;
   }
}