.container {
   width: 100%;
   height: 100%;
}

.container_header {
   margin-top: 5%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.container_header span {
   color: #1eb2a6;
   font-size: 20px;
   text-transform: uppercase;
   font-family: 'metropolis';
   font-weight: 600;
}

.container_header h1 {
   font-size: 40px;
   font-family: 'metropolis';
   color: #000;
   margin-top: 1%;
}

.container_items {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width: 70%;
   margin: 2.5% auto;
}

.container_items_box {
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
   height: 300px;
   width: 400px;
   padding: 10px;
   border-radius: 5px;
   animation-name: slideDown;
   animation-duration: 3s;
   animation-fill-mode: forwards;
}

.container_items_box:hover {
   background-color: #1eb2a6;
   color: #fff;
}

.container_items_box_header {
   display: flex;
}

.container_items_box_header h1 {
   width: 70%;
   font-size: 29px;
   font-family: "metropolis";
}

.container_items_box_icon {
   font-size: 60px;
   background-color: #1eb2a6;
   color: #fff;
   border-radius: 50%;
   padding: 7px;
}

.price {
   background-color: #f2f2f2;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   margin-top: 10%;
}

.tutor {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: 3%;
   margin-left: 15%;
}

.price h1 {
   font-size: 15px;
   font-weight: 100;
   color: #1eb2a6;
}

.container_items_box_button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 6%;
}

.container_items_box_button button {
   width: 250px;
   height: 45px;
   background-color: #1eb2a6;
   color: #fff;
   text-transform: uppercase;
   font-family: 'metropolis';
   border: none;
}

@keyframes slideDown {
   0% {
      transform: translateY(-100%);
      /* Start position above the viewport */
      opacity: 0;
      /* Start with transparency */
   }

   100% {
      transform: translateY(0);
      /* End position at the top */
      opacity: 1;
      /* Fully visible */
   }
}


@media (max-width:700px) {
   .container {
      margin-top: 20%;
   }

   .container_header span {
      font-size: 18px;
   }

   .container_header h1 {
      font-size: 20px;
      width: 90%;
      text-align: center;
   }

   .container_items {
      grid-template-columns: 1fr;
      width: 90%;
      gap: 20px;
      margin-top: 10%;
   }

   .container_items_box {
      width: auto;
      height: auto;
   }

   .container_items_box_header {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .container_items_box_header h1 {
      width: 80%;
      font-size: 20px;
      font-family: "metropolis";
   }

   .container_items_box_icon {
      font-size: 45px;
      background-color: #1eb2a6;
      color: #fff;
   }

   .container_items_box_button button {
      width: 200px;
      height: 40px;
   }

   .price h1 {
      font-size: 13px;
      font-weight: 100;
      color: #1eb2a6;
   }

   .container_items_box_responsive{
      animation-name: slideDown;
      animation-duration: 3s;
      animation-fill-mode: forwards;
   }

}