.container{
   width: 70%;
   margin: 2% auto;
   height: 80px;
}

.container_items{
   display: grid;
   grid-template-columns: 1fr auto;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.2);
   padding: 10px;
}

.container_items_1{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.menuIcon{
   display: none;
}

.container_items_1 .link{
   text-decoration: none;
   margin-right: 20px;
   font-family: 'metropolis';
   font-size: 18px;
   color: #ffff;
   transition: 1s ease-in-out;
}

.container_items_1 .link:hover{
   color: #1eb2a6;
   transform: scaleX(1.4);
}

.container_items_2{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: #1eb2a6;
   padding: 10px;
}

.container_items_2 h1{
   font-size: 15px;
   color: #ffff;
   text-transform: uppercase;
}


@media (max-width: 700px) {

 .container_items_1{
   display: none;
 }
 .container{
   width: 90%;
   margin-top: 5%;
 }
 .container_items{
   grid-template-columns: 1fr 1fr;
 }

 .menuIcon{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-color: #a4c7cd;
   color: #fff;
 }
 .menuIcon h1{
   font-size: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -3.5px;
   font-weight: 100;
 }

 .container_items_2 h1{
   font-size: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 100;
   letter-spacing: 0.5px;
 }
}