.container {
   width: 70%;
   margin: 2% auto;
   height: 80px;
}

.container_items {
   display: grid;
   grid-template-columns: 1fr auto;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.2);
   padding: 10px;
}

.container_items_1 {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.menuIcon {
   display: none;
}

.container_items_1 .link {
   text-decoration: none;
   margin-right: 20px;
   font-family: serif;
   font-size: 18px;
   color: #ffff;
}

.container_items_1 .link:hover {
   color: #1eb2a6;
}

.container_items_2 {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: #f85a40;
   padding: 10px;
}

.container_items_2 h1 {
   font-size: 15px;
   color: #ffff;
   text-transform: uppercase;
   font-family: serif;
}


@media (max-width: 700px) {

   .container_items_1 {
      display: none;
   }

   .container {
      width: 90%;
      margin-top: 5%;
   }

   .container_items {
      grid-template-columns: 1fr 1fr;
   }

   .menuIcon {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: none;
      color: #fff;
   }

   .menuIcon h1 {
      font-size: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -3.5px;
      font-weight: 100;
   }

   .container_items_2 h1 {
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 100;
      letter-spacing: 0.5px;
   }

   .menu_container {
      width: 60%;
      min-height: 100vh;
      background-color: #f2f2f2;
      position: fixed;
      z-index: 900;
      top: 0;
      box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.6);
   }

   .menu_container_close {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
   }

   .menu_container_close span {
      margin-right: 3px;
      text-transform: uppercase;
      font-size: 13px;
      margin-bottom: wpx;
      font-family: 'metropolis';
   }

   .menu_container_close .icon {
      border: 1px solid #1eb2a6;
      border-radius: 50%;
      padding: 2px;
   }

   .menu_container_links{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 15px;
      margin-top: 15%;
   }

   .menu_container_links .link{
      margin-bottom: 20%;
      text-decoration: none;
      font-family: 'metropolis';
      color: #000;
   }

   .menu_container_footer{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 15px;
      margin-top: 10%;
   }

   .menu_container_footer h1{
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'metropolis';
   }

   .menu_container_footer span{
      font-size: 11px;
      text-transform: uppercase;
      font-family: 'metropolis';
      margin-top: 2px;
   }
   .container_items_2 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f85a40;
      padding: 10px;
   }
   
}








/*Laptops 1024 x 600 - 770*/
@media (min-width: 1024px) and (max-width: 1440px) and (min-height: 760px) and (max-height: 900px) {
   .container {
      width: 95%;
      margin: 2% auto;
      height: 80px;
   }
   .container_items_1 .link {
      margin-right: 20px;
      font-size: 16px;
   }
   .container_items_2 {
      padding: 10px;
   }
   
   .container_items_2 h1 {
      font-size: 13px;
   }
 
 }
 
 
 
/*Laptops/desktops 1680 - 1920 x 1050 - 1200*/
@media (min-width: 1680px) and (max-width: 1920px) and (min-height: 1050px) and (max-height: 1200px) {
   .container {
      width: 95%;
      margin: 2% auto;
      height: 80px;
   }
   .container_items_1 .link {
      margin-right: 20px;
      font-size: 1.3em;
   }
   .container_items_2 {
      padding: 10px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   
   .container_items_2 h1 {
      font-size: 1em;
      text-align: center;
   }
 }


 


 
 /* Laptops 2560 x 1440*/
 @media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
   .container {
      width: 95%;
      margin: 2% auto;
      height: 80px;
   }
   .container_items_1 .link {
      margin-right: 20px;
      font-size: 16px;
   }
   .container_items_2 {
      padding: 10px;
   }
   
   .container_items_2 h1 {
      font-size: 13px;
   }
 
 }
 
 /* Laptops 3840 x 2160*/
 @media (min-width: 3840px) and (max-width: 3840px) and (min-height: 2160px) and (max-height: 2160px) {
   .container {
      width: 95%;
      margin: 2% auto;
      height: 80px;
   }
   .container_items_1 .link {
      margin-right: 20px;
      font-size: 16px;
   }
   .container_items_2 {
      padding: 10px;
   }
   
   .container_items_2 h1 {
      font-size: 13px;
   }
 
 }
 
 
 
 
 /*Laptops/desktops 2560 - 5120  x 1440 - 2880 */
@media (min-width: 2560px) and (max-width: 5120px) and (min-height: 1440px) and (max-height: 2880px) {
   .container {
      width: 95%;
      margin: 2% auto;
      height: 120px;
   }
   .container_items_1 .link {
      margin-right: 20px;
      font-size: 2em;
   }
   .container_items_2 {
      padding: 10px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   
   .container_items_2 h1 {
      font-size: 2em;
   }
}
 




