.container{
   width: 70%;
   margin: 2% auto;
   height: 80px;
}

.container_items{
   display: grid;
   grid-template-columns: 1fr auto;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.2);
   padding: 10px;
}

.container_items_1{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.container_items_1 .link{
   text-decoration: none;
   margin-right: 20px;
   font-family: 'metropolis';
   font-size: 18px;
   color: #ffff;
}

.container_items_2{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: #1eb2a6;
   padding: 10px;
}

.container_items_2 h1{
   font-size: 15px;
   color: #ffff;
   text-transform: uppercase;
}