.container {
   background-color: #00796b;
   width: 100%;
   height: 100vh;
}

.container_items {
   display: grid;
   grid-template-columns: 1fr auto;
   width: 70%;
   margin: 5% auto;
}

.container_items_1 {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: flex-start;
   animation-name: slideDown;
   animation-duration: 3s;
   animation-fill-mode: forwards;
}

.container_items_1 span {
   text-transform: uppercase;
   color: #f2f2f2;
   margin-bottom: 7px;
   font-family: serif;
}

.container_items_1 h1 {
   font-size: 40px;
   width: 65%;
   color: #fff;
   font-family: serif;
}

.container_items_1 p {
   color: #f2f2f2;
   width: 90%;
   font-family: serif;
   margin-top: 3%;
}

.container_btn {
   margin-top: 5%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.container_btn button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 60px;
   transition: 0.4s ease-in-out;
   cursor: pointer;
}

.container_btn button:hover {
   transform: scaleX(1.05);
}

.container_btn button:nth-child(1) {
   background-color: #1eb2a6;
   color: #fff;
   border: none;
   margin-right: 3%;
   font-weight: 600;
   text-transform: uppercase;
   font-family: serif;
}

.container_btn button:nth-child(2) {
   background-color: #fff;
   color: #1eb2a6;
   border: none;
   margin-right: 8%;
   font-weight: 600;
   text-transform: uppercase;
   font-family: 'metropolis';
}

.container_btn button:nth-child(1):hover {
   background-color: #fff;
   color: #1eb2a6;
}

.container_btn button:nth-child(2):hover {
   background-color: #1eb2a6;
   color: #fff;
}



.container_items_2 {
   width: 100%;
   height: 100%;
}

.container_items_2 .container_image {
   width: 100%;
   height: auto;
}

@keyframes pendulum {
   0% {
      transform: translateX(0);
   }

   50% {
      transform: translateX(20px);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes slideDown {
   0% {
      transform: translateY(-100%);
      opacity: 0;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}



@media (max-width:700px) {

   .container_items {
      width: 90%;
      grid-template-columns: 1fr;
   }

   .container_items_1 span {
      font-size: 12px;
   }

   .container_items_1 h1 {
      width: 80%;
      font-size: 25px;
   }

   .container_items_1 p {
      font-size: 12px;
      width: 80%;
   }

   .container_btn button {
      width: 150px;
      font-size: 12px;
      height: 45px;
   }

   .container_items_2 .container_image {
      width: 100%;
      height: 100%;
      animation: pendulum 3s ease-in-out infinite alternate;
   }

   @keyframes pendulum {
      0% {
         transform: translateX(0);
      }

      50% {
         transform: translateX(20px);
      }

      100% {
         transform: translateX(-20px);
      }
   }
}



/*Laptops 1024 x 600 - 770*/
@media (min-width: 1024px) and (max-width: 1440px) and (min-height: 760px) and (max-height: 900px) {
   .container_items {
      width: 95%;
      margin: 8% auto;
   }

   .container_items_1 span {
      font-size: 0.9em;
   }

   .container_items_1 h1 {
      font-size: 2em;
      width: 90%;
   }
   .container_items_1 p {
      width: 100%;
      font-size: 1em;
   }
   .container_btn button {
      width: 190px;
      height: 55px;
      transition: 0.4s ease-in-out;
      cursor: pointer;
   }

}


/*Laptops/desktops 1680 - 1920 x 1050 - 1200*/
@media (min-width: 1680px) and (max-width: 1920px) and (min-height: 1050px) and (max-height: 1200px) {
   .container_items {
      width: 95%;
      margin: 8% auto;
   }

   .container_items_1 span {
      font-size: 1.1em;
   }

   .container_items_1 h1 {
      font-size: 3em;
      width: 90%;
   }
   .container_items_1 p {
      width: 100%;
      font-size: 1.1em;
   }
   .container_btn button {
      width: 220px;
      height: 60px;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      font-size: 1em;
   }
}





 
 /*Laptops/desktops 2560 - 5120  x 1440 - 2880 */
 @media (min-width: 2560px) and (max-width: 5120px) and (min-height: 1440px) and (max-height: 2880px) {
   .container_items {
      width: 95%;
      margin: 10% auto;
   }

   .container_items_1 span {
      font-size: 1.6em;
   }

   .container_items_1 h1 {
      font-size: 5em;
      width: 90%;
   }
   .container_items_1 p {
      width: 80%;
      font-size: 1.7em;
   }
   .container_btn button {
      width: 300px;
      height: 90px;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      font-size: 1.5em;
   }
   .container_items_2 .container_image {
      width: auto;
      height: auto;
   }
   
 }



 /*mobile phones 375 - 900  x 640 - 900 */
@media (min-width: 375px) and (max-width: 900px) and (min-height: 640px) and (max-height: 900px) {
   .container_items {
      width: 90%;
      grid-template-columns: 1fr;
      margin: 20% auto;
   }

   .container_items_1 span {
      font-size: 12px;
   }

   .container_items_1 h1 {
      width: 85%;
      font-size: 1.6em;
   }

   .container_items_1 p {
      font-size: 1em;
      width: 90%;
      font-weight: 100;
      line-height: 1.5;
   }

   .container_btn button {
      width: 150px;
      font-size: 12px;
      height: 45px;
   }

   .container_items_2 .container_image {
      width: 100%;
      height: 100%;
      animation: pendulum 3s ease-in-out infinite alternate;
   }

}