.container {
   width: 100%;
   height: 100%;
}

.container_header {
   margin-top: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.container_header span {
   color: #1eb2a6;
   font-size: 20px;
   text-transform: uppercase;
   font-family: 'metropolis';
   font-weight: 600;
}

.container_header h1 {
   font-size: 40px;
   font-family: 'metropolis';
   color: #000;
   margin-top: 1%;
}

.container_items {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   width: 70%;
   margin: 2.5% auto;
}

.container_items_box {
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
   height: 200px;
   width: 250px;
   padding: 10px;
   border-radius: 5px;
}

.container_items_box:hover {
   background-color: #1eb2a6;
   color: #fff;
}

.header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-top: 10%;

}

.header h1 {
   font-family: 'metropolis';
   font-size: 16px;
   text-transform: uppercase;
}


.message {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15%;
}

.message p {
   font-size: 13px;
}


@media (max-width:700px){
   .container{
      margin-top: 20%;
   }
   .container_header span{
      font-size: 16px;
   }

   .container_header h1{
      font-size: 20px;
   }

   .container_items{
      width: 90%;
      grid-template-columns: 1fr;
      gap: 20px;
   }

   .container_items_box{
      width: auto;
      height: auto;
      padding: 5px;
   }
}